<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsFormsApp5.Properties.Settings.connString" connectionString="Data Source=DESKTOP-JPGOIDH\SQLEXPRESS;Initial Catalog=Sales;Integrated Security=True;Pooling=False" />
        <add name="WindowsFormsApp5.Properties.Settings.SalesConnectionString"
            connectionString="Data Source=DESKTOP-JPGOIDH\SQLEXPRESS;Initial Catalog=Sales;Integrated Security=True;Pooling=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>